Cycle_GAN_data_training/
Cycle_GAN_data_training
data_training/
data_training
FakultyData/
FakultyData
Test_Dataset/
Test_Dataset
training_dataset/
training_dataset
staining_results/
staining_results
training_dataset_GOWT_Inverse/
training_dataset_GOWT_Inverse
Evaluation_Dataset/
Evaluation_Dataset
results/
results
*.png
*.tiff
*.tif
*.pyc
*.bmp
*.csv
